.barney, .edward, .karen, .batman, .skeleton, .matchTitle {
  display: none;
}


.mainHeader{
  text-align: center;
  padding: 30px;
  font-family: 'Lato', sans-serif;
}
#ageBox {
  padding: 10px;
  text-align: center;  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
#colorBox {
  padding: 10px;
  text-align: center;  
}
#wyrBox {
  padding: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}
#match {
  padding: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}
.matchTitle { 
  padding: 10px;
  text-align: center;  
  font-family: 'Lato', sans-serif;
}