.barney, .edward, .karen, .batman, .skeleton, .matchTitle {
  display: none;
}


.mainHeader{
  text-align: center;
  padding: 30px;
  font-family: 'Baloo Tamma 2', cursive;
}
#ageBox {
  padding: 10px;
  text-align: center;  
  font-family: 'Baloo Tamma 2', cursive;
}
#colorBox {
  padding: 10px;
  text-align: center;  
}
#wyrBox {
  padding: 10px;
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;;
}
#match {
  padding: 10px;
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
}
.matchTitle { 
  padding: 10px;
  text-align: center;  
  font-family: 'Baloo Tamma 2', cursive;
}