html {
  scroll-behavior: smooth;
}

.match {
  display: none;
  margin-top: 3rem;
}

.userName {
  display: none;
  margin-top: 3rem;
}

#toolBar {
  display: none;
  margin-top: 3rem;
}

.questions {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mainHeader{
  text-align: center;
  padding: 30px;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

.matchTitle { 
  padding: 10px;
  font-weight: 600;
  text-align: center;  
  font-family: 'Lato', sans-serif;
}

hr.lineStyle {
  border-top: 1px solid black;
}

.buttonColor {
  border-color: #e0ece4;
  background-color: #e0ece4;
  color: black;
}


img {
  background-color: transparent;
  padding: 10px
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
